body {
    font-family: 'Roboto', sans-serif;
}

.news {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.single-item {
    height: 360px;
    border: solid 6px #dfb966;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.left-set,
.right-set {
    position: relative;
    width: 50%;
    height: 100%;
}

.left-set {
    float: left;
    overflow: hidden;
}

.left-set a img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.right-set {
    float: right;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.right-set .name,
.right-set .subname {
    font-weight: bold;
}

.right-set .name {
    font-size: 1.4rem;
    line-height: 2rem;
}

.right-set .subname {
    font-size: 0.8rem;
    line-height: 1rem;
}

.right-set .price {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.right-set .description p {
    font-size: 0.9rem;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.right-set button {
    width: 100%;
    height: 3rem;
    cursor: pointer;
    background: none;
    border: solid 2px #111;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.right-set button:hover {
    background: #666600;
    color: #fff;
}

